# INTRODUCTION

In [5]:
print('Hello Jay')

name="Jayasri Srinivas"
print('Hi ,',name)

Hello Jay
Hi , Jayasri Srinivas

# Functions
print()
input()
type()
len()

## I) Variables: 
Variables are nothing but a memory location to store values assigned to them. Some of the properties of these variables are: 

1) There is no need to declare the data type of the variable as done in other programming languages, such as C, C++ and JAVA.
2) The variable name (or identifier) cannot start with a number, i.e., declaring something like 2name = 7 throws an error.
3) Python is case sensitive or in other words, these variables are case sensitive. This means that declaring  name= 2 & Name = 4 would create two different variables.

In [5]:
name="Jayasri"
print('Hello,',name+' srinivasa varadhan')
print('We are glad to see you practising Python,'+''+name+' '+'Srinivasa Varadhan')

Hello, Jayasri srinivasa varadhan
We are glad to see you practising Python,Jayasri Srinivasa Varadhan

## II) Data Types:
Integer: (int) Set of all integers
Float: (float) Set of all real numbers in numerical form
string: (str) Words or sentences
boolean: (bool) True or False

## III) Type Casting:
In order to change the data type of a particular variable, you can simply call the following inbuilt methods in python.

In [2]:
x=3.414
print(int(x))
print(float(x))
print(str(x))
print(bool(x))

3
3.414
3.414
True
<class 'float'> <class 'int'> <class 'str'> <class 'str'> <class 'bool'>

  ## Type()                     :function

In [ ]:
a=1.6
b=3
c='daddy'
d='3.7'
e=True
print(type(a),type(b),type(c),type(d),type(e))

## IV) Arithmetic Operations:
Arithmetic operations are an integral part of every programming language.
i) BODMAS RULE
ii) Bracket of>> Exponential>>Floor division (//) >>Remainder or modulo(%)>> Division 
Note: operator precedence *, @, /, //, %

In [1]:
print(4%(1+ 9)**2 - 60//(7+2))

-2

## V) Print range of numbers in a single line

In [1]:
print(*range(1,11))

1 2 3 4 5 6 7 8 9 10

In [8]:
for x in range(1,11):
    print(x,end=" ")

1 2 3 4 5 6 7 8 9 10