## DATA STRUCTURES : List 
   - Lists are ordered sequence of mixed data types.
   - Lists are written as comma-seperated elements within square brackets.

   - **Properties:** 
   
   - (i) Sequential
   - (ii) Mutability
   - Values are interchangeable, new values can be added or deleted

### Note:
Most of the properties of lists are the same as those of tuples, except one major difference: Lists are mutable, which means the elements of a list can be changed. 
### Methods: (attributes)

#### Example 1

In [6]:
var1=6
var2='str'
list_1=['word',var1,var2,1,2,3,7.8,True]
print(list_1)
print('datatype of list_1:', type(list_1))

['word', 6, 'str', 1, 2, 3, 7.8, True]
datatype of list_1: <class 'list'>

#### Example 2

In [9]:
var1=6
var2='str'
list_1=['word',var1,var2,1,2,3,7.8,True]
list_2=[2.3, 'jay',3,99]
print(list_1)
print(list_2)

['word', 6, 'str', 1, 2, 3, 7.8, True]
[2.3, 'jay', 3, 99]

In [5]:
list_a=['hakuna','mataka',1,10,20,30,50,60,'i am','empathy','value','mortal','india',3.0,2.0,4.0,True,False,'Jerusalem','Madagaskar']
print('length of list_a=',len(list_a))

length of list_a= 20

### Nested Lists
Contains a list as one of its element.

In [ ]:
list_1=['word',1,2,3,['a','hi',45],7.8,True]

### Membership in List

In [ ]:
list_1=['word',1,2,3,['a','hi',45],7.8,True]
print(3 in list_1)
print(78 in list_1)

### List Concatenation

In [4]:
list_1=['word',1,2,3,['a','hi',45],7.8,True]
list_2=list_1[0:4]+['deer']+list_1[4: ]

print(list_2)

['word', 1, 2, 3, 'deer', ['a', 'hi', 45], 7.8, True]

### 1)Indexing
index > negative index >>  listname.index() >>> Range

#### 1.1) index and negative index

starts from 0, 1, 2,...... from left to right.

-1, -2, -3 from right to left.

In [1]:
list_a=['hakuna','mataka',1,10,20,30,50,60,'i am','empathy','value','mortal','india',3.0,2.0,4.0,True,False,'Jerusalem','Madagaskar']
print('first element=', list_a[0])
print('last element=', list_a[-1])
print('7th element: ', list_a[7])

first element= hakuna
last element= Madagaskar
7th element:  60

#### 1.2) listname.index() 
is to know a index of a particular element.

.index is to find the index value of a element in given string or integer or float except bool, list, tuple.

In [4]:
list_a=['hakuna','mataka',1,10,20,30,50,60,'i am','empathy','value','mortal','india',3.0,2.0,4.0,True,False,'Jerusalem','Madagaskar']
print('index of i am and 4.0 in list_a:', list_a.index('i am'), 'and', list_a.index(4.0) )

index of i am and 4.0 in list_a: 8 and 15

#### To find the negative index of an element in a list

negative index(element) = positive index(element) - length of the list

In [5]:
list_7=[2,5,7,88,99,100,9.5,8.99]
print(len(list_7))
#find the negative index of 88
a=list_7.index(88)-len(list_7)
print("Negative index of 88: ", a)

8
Negative index of 88:  -5

#### 1.3)Slicing or Range of elements using index [ : ] or [start index : end index +1: jump stretch ]

In [2]:
list_a=['hakuna','mataka',1,10,20,30,50,60,'i am','empathy','value','mortal','india',3.0,2.0,4.0,True,False,'Jerusalem','Madagaskar']
print('first 4 elements:',list_a[0:4])
print(list_a[8:16:1]) 
print(list_a[10:2:-2]) 
print('index of 20 in list_a:', list_a.index(20))
print(list_a[4:6])
print(list_a[18:20])
print(list_a[16:18])
print(list_a[6:8])

first 4 elements: ['hakuna', 'mataka', 1, 10]
['i am', 'empathy', 'value', 'mortal', 'india', 3.0, 2.0, 4.0]
['value', 'i am', 50, 20]
index of 20 in list_a: 4
[20, 30]
['Jerusalem', 'Madagaskar']
[True, False]
[50, 60]

### 2)  .append()
append function inserts (one complete) list given (as list itself) in a particular position.
>**Note:** Do not directly append a given list.
>Instead use a dummy empty list and then append the list desired.

#### Example 1

In [10]:
list_b=['1','2',3,4]
list_c=[True,False,'3.0','4.0']
list_b.append(list_c)                 #here we append directly
print(list_b)

['1', '2', 3, 4, [True, False, '3.0', '4.0']]

#### Example 2

In [1]:
list_b=['1','2',3,4]
list_c=[True,False,'3.0','4.0']
outlist_dummy=[]
outlist_dummy.append(list_b)
print(outlist_dummy)
outlist_dummy.append(list_c)
print(outlist_dummy)                 #here we append using a dummy empty list so that the original lists are preserved

[['1', '2', 3, 4]]
[['1', '2', 3, 4], [True, False, '3.0', '4.0']]

#### Observation from above example 2 :

In [30]:
print('lenth of outlist_dummy after append=', len(outlist_dummy))
print('first element of outlist_dummy after append=', outlist_dummy[0]) 
print('last element of outlist_dummy after append=', outlist_dummy[-1])

lenth of outlist_dummy after append= 2
first element of outlist_dummy after append= ['1', '2', 3, 4]
last element of outlist_dummy after append= [True, False, '3.0', '4.0']

#### Example 3

In [22]:
var_3 = [0,4,8,9,2]
var_3.append(440)
print(var_3)
var_3.append([678,890])
print(var_3)
print(type(var_3[-2]))
print(type(var_3[-1]))

[0, 4, 8, 9, 2, 440]
[0, 4, 8, 9, 2, 440, [678, 890]]
<class 'int'>
<class 'list'>

### 3)  .extend()
extend function takes in the elements of the given list as its own and add it to the end of itself.
>Note: Do not directly extend a given list.
>Instead use a dummy empty list and then extend the list desired.

#### Example 1

In [24]:
list_b=['1','2',3,4]
list_c=[True,False,'3.0','4.0']
list_b.extend(list_c)            #here we added elements from list_c to list_b
print(list_b)

['1', '2', 3, 4, True, False, '3.0', '4.0']

#### Example 2

In [26]:
list_b=['1','2',3,4]
list_c=[True,False,'3.0','4.0']
out_list_extend=[]
out_list_extend.extend(list_b)
print(out_list_extend)
out_list_extend.extend(list_c)   
print(out_list_extend)          
#here we added elements from list_c to list_b using new dummy list in order to preserve original list_b

['1', '2', 3, 4]
['1', '2', 3, 4, True, False, '3.0', '4.0']

In [ ]:
### Note:
when a list is passed in the extend method, it takes each element from the list and appends it to the end of the list.
However, when the same list is passed to an append method, it considers this list as a single element and appends it to the end of the list.

### 4) .insert(position index, inserting value)
insert function inserts only one given value in a particular position

#### Example

In [38]:
var_3 = [0,4,8,9,2]
var_3.insert(4,1000)
print(var_3)

[0, 4, 8, 9, 1000, 2]

### 5) .pop()
pop function removes last value from list

In [43]:
list_b=['1','2',3,4]
list_b.pop()
print(list_b)
list_b.pop()
print(list_b)
print(list_b, 'is the edited list_b.')

['1', '2', 3]
['1', '2']
['1', '2'] is the edited list_b.

### 6) .clear()
clear function clears the list

In [4]:
list_b=['1','2',3,4]
list_b.clear()
print('after using .clear() method list_b becomes empty' , list_b)

after using .clear() method list_b becomes empty []

### 7)  del(variable list )
del function deletes the variable from file.

In [6]:
list_b=['1','2',3,4]
del(list_b)
print('list_b after using .del() method will vanish', list_b)

NameError: name 'list_b' is not defined

In [8]:
list_b=['1','2',3,4]
del(list_b[2])
print(list_b)

['1', '2', 4]

### 8) .remove(element from list)
remove function removes the value we expect from list

#### Example:

In [2]:
var_4 = [0,4,5,4,8,49,2,3.6,'w']
var_4.remove(4)
print(var_4)
print(var_4.count(4))

[0, 5, 4, 8, 49, 2, 3.6, 'w']
1

### 8) .count(element from list)
no. of repetitions of a particular element from the list.

In [54]:
var_4 = [0,4,5,4,8,49,2,3.6,'w']
print("No. of times element 4 appears in the list var_4", var_4.count(4))

No. of times element 4 appears in the list var_4 2

### 9) .reverse()

In [1]:
var_4 = [0,4,5,4,8,49,2,3.6,'w']
var_4.reverse()
print(var_4)

['w', 3.6, 2, 49, 8, 4, 5, 4, 0]

In [2]:
var_4 = [0,4,5,4,8,49,2,3.6,'w']
var_4[::-1]

['w', 3.6, 2, 49, 8, 4, 5, 4, 0]

In [4]:
var_4 = [0,4,5,4,8,49,2,3.6,'w']
var_4[-1::-1]

['w', 3.6, 2, 49, 8, 4, 5, 4, 0]

In [5]:
var_4 = [0,4,5,4,8,49,2,3.6,'w']
var_4[-1:-5:-1]

['w', 3.6, 2, 49]

### Shallow copying
duplicates of a list can be created using slicing. Thus, any changes in the original will not appear on the duplicates.

### Example:

In [11]:
list_5=['apple','orange','banana','mango']
copy_of_list_5=list_5[:]
print('duplicate copy of list_5 is',copy_of_list_5 )

duplicate copy of list_5 is ['apple', 'orange', 'banana', 'mango']

In [14]:
list_5[2]='beetroot'
print("New list_5 is", list_5)
print("also duplicate of original list_5 is which stands unchanged: ",copy_of_list_5 )

New list_5 is ['apple', 'orange', 'beetroot', 'mango']
also duplicate of original list_5 is which stands unchanged:  ['apple', 'orange', 'banana', 'mango']

In [5]:
#Practice problem 

var=input("Give string : ")
message1=var[0: :2]
message2=var[1: :2]
message3=message1.rstrip('#')
message4=message2.rstrip('#')
print(str(message3) +','+ str(message4))

Give string : aabbccdd#ef#g
abcd#fg,abcde

### Sorting a list
All elements from the list must be of same data type.
Arranges the data in ascending order or alphabetical order.

In [4]:
list_3 = ['orange','appleswdfg','mango']
list_3.sort()
print(list_3)

['08orange', 'appleswdfg', 'mango']

In [61]:
#in order to sort elements in reverse of alphabetical order.
list_3=['orange','appleswdfg','mango']
list_3.sort(reverse=True)
print(list_3)

['orange', 'mango', 'appleswdfg']

In [3]:
word = ['1','2','3','4']
word[ : ]=[]
print(word)

[]

### Sorted()
   - sorted(L) will return a sorted list, and when it comes to strings, it happens based on the character ASCII values. 
   - First, it compares the ASCII values of the first characters and sorts the strings. 
   - If the first characters have the same value, then it proceeds 
to the second characters and compares their ASCII values; if this matches again,
then it proceeds to the third characters, and this continues until you have sorted them.
In this way, the strings are sorted in a list.

### Example 1

In [3]:
list_3=['orange','apples','apple','mango']
print(sorted(list_3))

['apple', 'apples', 'mango', 'orange']

### Example 2

In [6]:
L = ['one','two','three', 'four', 'five', 'six']
print(sorted(L))
print (L)

['five', 'four', 'one', 'six', 'three', 'two']
['one', 'two', 'three', 'four', 'five', 'six']

### Example 3

In [19]:
input_str=['Pythons syntax is easy to learn', 'Pythons syntax is very clear'] 
A=input_str.pop()
B=input_str.pop()
string_1 = B +' & '+ A #Type your answer here
print(string_1)

Pythons syntax is easy to learn & Pythons syntax is very clear

##  LAMBDA